@import './_globales';

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    position: sticky; // queda mejor que con fixed
    top: 0;
    box-shadow: 0 0 9px 5px rgb(8 9 10 / 7%);
    width: 100%;
    height: 10vh;
    background-color: $color-light;

    &__button{
        background-color: $color-primary;
        border-radius: 8px;
        border: none;
        color: $color-light;
        padding: 0 5px;
        cursor: pointer;
        font-size: 1.8rem;
        font-weight: bold;
        height: 50px;
    }
    &__logo{
        cursor: pointer;
    }
}

.header__button:hover {-webkit-transform:scale(1.1);transform:scale(1.1);}
.header__logo:hover {-webkit-transform:scale(1.1);transform:scale(1.1);}
